# TüEyeQ dataset validation
Extracking data for comparison with other dataset.

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

### Loading the participant features
The table below holds the info we have on each participant. Each participant has a unique subject ID. The info about the tasks was removed, as it was deemed unnecessary. Our taget value should be age / gender.

In [18]:
participant_features = pd.read_csv('TuEyeQ/cft_full.csv', index_col=1)
del participant_features['task_id']
del participant_features['cft_task']
participant_features = participant_features.drop_duplicates()
participant_features.head()

,age,gender,handedness,native_german,native_german_mother,native_language_mother,native_german_father,native_language_father,education_mother,education_father,...,leisure_hobbies,leisure_play_games,leisure_relaxation,leisure_social_activity,leisure_humanitarian_services,leisure_nature_activities,leisure_travel_tourism,study_subject_primary,study_subject_secondary,cft_sum_full
subject,,,,,,,,,,,,,,,,,,,,,
AAB14,19.0,2.0,1.0,1.0,0.0,Türkisch,0.0,Italienisch,2.0,0.0,...,0,0,0,1,0,1,0,"Social sciences, journalism and information",NaN,28.0
AAO14,27.0,2.0,1.0,0.0,0.0,Englisch,0.0,Hindi,NaN,4.0,...,1,0,0,0,0,0,0,"Natural sciences, mathematics and statistics",NaN,30.0
AAR28,29.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,3.0,5.0,...,0,1,0,0,0,1,1,Education,Arts and humanities,35.0
ABT22,21.0,2.0,1.0,1.0,1.0,NaN,0.0,Serbisch,5.0,4.0,...,0,0,0,0,0,0,1,"Business, administration and law",NaN,37.0
ACB13,25.0,1.0,2.0,1.0,1.0,NaN,1.0,NaN,3.0,5.0,...,0,0,0,0,0,0,0,"Business, administration and law",NaN,28.0

### Reading eye tracking features
 Here is what eye tracking features for Some of the participants and some readings have been removed due to too much noise.

In [35]:
eye_tracking_features_path = 'TuEyeQ/EyeMovementData/split'
arbitrary_eye_tracking_features = pd.read_csv(eye_tracking_features_path+'/ABT22/task_01.csv', index_col=0)
arbitrary_eye_tracking_features.head(6)

,starttime,duration,meanPupilDiameter,eye,eventType,eventIdxLeft,eventIdxRight,meanX,meanY,startSaccadeX,startSaccadeY,endSaccadeX,endSaccadeY,microsaccadeCount,microsaccadeAmplitude,microsaccadePeakVelocity
14,3032142,44,NaN,left,saccade,1.0,NaN,NaN,NaN,514.678,410.290,701.580,311.073,NaN,NaN,NaN
15,3032146,40,NaN,right,saccade,1.0,4.0,NaN,NaN,554.941,409.684,713.569,319.930,NaN,NaN,NaN
16,3032190,100,3.053042,left,fixation,1.0,NaN,714.207654,299.538000,NaN,NaN,NaN,NaN,0.0,NaN,NaN
17,3032190,104,3.053560,right,fixation,1.0,5.0,729.511444,305.095778,NaN,NaN,NaN,NaN,2.0,3.521654,10.08638
18,3032294,24,NaN,left,saccade,2.0,NaN,NaN,NaN,721.452,301.986,804.455,229.362,NaN,NaN,NaN
19,3032298,20,NaN,right,saccade,2.0,5.0,NaN,NaN,741.377,292.951,818.070,220.246,NaN,NaN,NaN

### Appending target values to feature vectors
We want a feature vector to consist of eye tracking features and then a target value in the end, based on the subject ID.

In [36]:
#Giver ikke mening at lave lige nu. Giver først mening, når vi har vores reelle features.
folders = list(set(participant_features.index))

eye_tracking_features = None

for folder in folders: